/* Universal reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header h3 {
    margin-right: 15px;
    padding: 2px 0 10px;
}

.header p {
    padding-top: 5px;
}

/* Containers */
.container {
    width: 100%;
    padding: 0 25px;
    margin-top: 20px;
}

.container h2 {
    margin-bottom: 30px;
}

.container p {
    line-height: 1.6;
    margin-bottom: 35px;
}

/* Image Sections */
.div-image-a,
.div-image-b,
.div-image-c,
.div-image-d,
.div-image-e,
.div-image-f {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.div-image-a {
    height: 400px;
}

.div-image-b, .div-image-c, .div-image-d, .div-image-e, .div-image-f {
    height: 300px;
}

.text-overlay {
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    font-weight: bold;
}

.div-image-b .text-overlay, 
.div-image-c .text-overlay,
.div-image-d .text-overlay,
.div-image-e .text-overlay,
.div-image-f .text-overlay {
    width: 150px;
    height: 30px;
}

#image-a,
#image-b,
#image-c,
#image-d,
#image-e,
.image-f {
    width: 96%;
    height: 100%;
    object-fit: cover;
}

/* Profile Sections */
.person1, .person2, .person3, .person4 {
    width: 96%;
    margin-bottom: 20px;
}

.person1 h3, 
.person2 h3, 
.person3 h3, 
.person4 h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.person1 h4, 
.person2 h4, 
.person3 h4, 
.person4 h4 {
    font-weight: 200;
    margin-bottom: 15px;
}

.person1 p, 
.person2 p, 
.person3 p, 
.person4 p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}

.link {
    width: 100%;
    background-color: aliceblue;
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.link a {
    text-decoration: none;
    color: black;
}

/* Footer */
.powered-by-webies {
    width: 100%;
    height: 70px;
    border: 1px solid black;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.powered-by-webies p a {
    color: white;
    text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .container, .link, .text-overlay {
        width: 100%;
    }

    #image-a, #image-b, #image-c, #image-d, #image-e, .image-f {
        width: 100%;
    }
}
